include mixins
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    +head('Titulo')
    body(style='margin: 0; padding: 0;')
        +tablesec
            td(style='padding: 10px 0 30px 0;')
                table(align='center', border='0', cellpadding='0', cellspacing='0', width='600', style='border: 1px solid #cccccc; border-collapse: collapse;')
                    tbody
                        tr
                            +headerh1('APP NAME')
                        tr
                            td(bgcolor='#ffffff', style='padding: 40px 30px 40px 30px;')
                                +tablesec
                                    +title('Aca el titulo Loco')
                                    +description('Ponemos aca toda la descripcion')
                                    tr
                                        td
                                            +tablesec
                                                +column1('Texto loco')
                                                +column2('Texto loco 2')
                        +footer