h1 Cambiar contraseña
p.
    Hola, #{name},
p.
    Hemos recibido una solicitud para cambiar tu contraseña de #{appName}
p.
    Para tu Usuario: #{username}

a(href=`${url}`).button(type='button' class='btn btn-info btn-lg') Cambiar Contraseña
